.addbackground {
  display: none;
  background-color: var(--bg);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10000;
}

@keyframes popup2 {
  0% {
    transform: translateY(1000px);
  }

  100% {
    transform: translateY(0px);
  }
}

* {
  color: var(--fontColor);
}

.addNoteInfo {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 90%;
  width: 375px;
  background-color: var(--mainBackground);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  animation: popup2 0.5s;
}

.closing {
  text-align: right;
}

.closingimg {
  height: 24px;
  width: 24px;
  margin-right: 20px;
  margin-top: 20px;
}

.addbody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 42px;
  overflow-y: auto;
  height: 83%;
}

.addtitlee {
  height: 77px;
  width: 291px;
}

label {
  font-size: 15px;
}

.titleinput {
  display: block;
  height: 50px;
  width: 100%;
  border-radius: 8px;
  padding-left: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 8px;
  background-color: var(--taskBackground);
}

::placeholder {
  color: #808080;
}

.adddescc {
  margin-top: 15px;
}

.textdesc {
  border-radius: 8px;
  display: block;
  border: solid rgba(0, 0, 0, 0.1);
  border-width: 0.5px;
  margin-top: 8px;
  padding-left: 16px;
  padding-top: 16px;
  background-color: var(--taskBackground);
}

.dateandtime {
  width: 87%;
  margin-top: 15px;
}

.selectdate {
  height: 55px;
  width: 128px;
  border-radius: 8px;
  padding-left: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--taskBackground);
}

.selecttime {
  height: 55px;
  width: 128px;
  border-radius: 8px;
  padding-left: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--taskBackground);
}

.dtdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.addlabel {
  width: 87%;
  margin-top: 20px;
}

.selectlabel {
  height: 50px;
  width: 128px;
  padding-left: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: var(--taskBackground);
}

.divlabel {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.addbutton {
  height: 50px;
  width: 50px;
  border-radius: 8px;
  background-color: var(--icon);
}

.colorWord {
  margin: 0;
}

.addcolor {
  width: 87%;
  margin-top: 20px;
}

.addcolor input {
  height: 40px;
  width: 40px;
  margin-top: 8px;
  border-radius: 50%;
  appearance: none;
  position: relative;
  margin-right: 13px;
}

.clr1 {
  background-color: var(--taskBackground);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.clr2 {
  background-color: var(--clr);
}

.clr3 {
  background-color: var(--clr1);
}

.clr4 {
  background-color: var(--clr2);
}

.clr5 {
  background-color: var(--clr3);
}

input[type="radio"]:checked:after {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  background-color: var(--actionColor);
  content: "";
  display: inline-block;
}

.addTask {
  position: absolute;
  bottom: 3%;
  height: 50px;
  background-color: #ffa14e;
  border-radius: 8px;
  width: 291px;
  font-size: 20px;
  display: block;
}

.enterLabel {
  display: none;
  position: relative;
  width: 100%;
}

.block {
  display: block;
}

.plus {
  transform: rotate(45deg);
}

.inputLabel {
  background-color: var(--taskBackground);
}

.save {
  position: absolute;
  top: 40%;
  right: 6%;
  color: var(--actionColor);
}

.tAndd {
  background-color: var(--taskBackground);
}

.getTimeAndDate {
  display: flex;
}

#getTime {
  display: none;
  margin-right: 15px;
}

#getDate {
  display: none;
  margin-right: 15px;
}

#SaveTAndD {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: var(--actionColor);
  color: var(--fontColor);
  height: 50px;
  width: 100px;
  border-radius: 8px;
  margin-top: 8px;
}

.postTandD {
  color: var(--fontColor);
  margin: 0px 5px;
  font-size: 14px;
}

#postTandD {
  background-color: var(--taskBackground);
  margin-top: 8px;
  display: none;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 1023px) {
  .addNoteInfo {
    top: 8%;
    left: 25%;
    height: 92%;
    width: 50%;
  }

  .addbody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
  }

  .widthForForm {
    width: 80%;
  }

  .textdesc {
    width: 100%;
  }

  .dtdiv {
    justify-content: flex-start;
  }

  .selectdate {
    margin-right: 15px;
  }

  .divlabel {
    justify-content: flex-start;
  }

  .selectlabel {
    margin-right: 15px;
  }

  .addcolor input {
    margin-right: 30px;
  }
}